<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!--<property name="LOGS_HOME" value="/home/misha/logs" />-->

    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HOME}/chatLog.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} - %msg
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${HOME}/chatLog.%d{yyyy-MM-dd}
            </fileNamePattern>
            <triggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                <maxFileSize>100MB</maxFileSize>
            </triggeringPolicy>
        </rollingPolicy>

    </appender>

    <root level="info">
        <appender-ref ref="FILE" />
    </root>

</configuration>